#hi3-container {
    margin-left: 60px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding-top: 15px;
    background-color: #231f20;
    overflow-x: hidden;
    transition: width 0.2s ease;
}

/* collapsed */
.sidebar {
    width: 60px;
}

/* expanded */
.sidebar:hover,
.sidebar:focus,
.sidebar .nav li {
    width: 260px !important;
}

.sidebar-separator {
    height: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
    transition: 0.2s ease;
}

/* collapsed */
.sidebar .sidebar-separator {
    margin-left: 20px;
    margin-right: 20px;
}

/* expanded */
.sidebar:hover .sidebar-separator,
.sidebar:focus .sidebar-separator {
    margin-left: 10px;
    margin-right: 10px;
}

/* all links */
.sidebar .nav li,
.sidebar .nav li > a {
    padding: 0;
    height: 55px;
    display: table;
    table-layout: fixed;
    border-radius: 0;
}

.sidebar .nav li > a:hover,
.sidebar .nav li > a:focus {
    text-decoration: none;
}

/* brand */
.sidebar .nav li.brand > a > .icon {
    font-size: unset !important;
}

.sidebar:hover .nav li.brand > a > .icon,
.sidebar:focus .nav li.brand > a > .icon {
    font-size: unset;
}

/* TODO: remove when brand is svg */
.sidebar .nav li.brand > a > .text > img {
    height: 31px;
}
.sidebar .nav li.brand > a > .text {
    font-size: unset;
}

.sidebar .nav li.brand > a > .icon > img {
    width: 26px;
    height: 28px;
}
/* end TODO */

/* non-active link */
.sidebar .nav li > a > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #636363;
}

.sidebar .nav .icon {
    width: 60px;
    font-size: 22px;
}

.sidebar .nav .text,
.sidebar .nav .pull-bottom .text {
    font-size: 18px;
    text-align: left;
    padding-right: 10px;
}

/* non-active link, on hover */
.sidebar .nav a,
.sidebar .nav a:hover div,
.sidebar .nav a:focus div {
    background-color: transparent !important;
    color: #fff !important;
    transition: color .2s !important;
}

.sidebar .nav a:focus,
.sidebar .nav a:focus {
    outline: none;
}

/* active link (hover is no change) */
.sidebar .nav li > a.active,
.sidebar .nav li > a.active > div,
.sidebar .nav li > a.active:hover > div,
.sidebar .nav li > a.active:focus > div {
    color: #fff;
    background-color: transparent;
}

/* bottom of nav (user info) */
.sidebar .pull-bottom {
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
    padding-bottom: 10px;
}
