#hijacks.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

#hijacks > .row {
    margin-bottom: 20px;
}

#hijacks .acks {
    /*margin-top: 120px;*/
    width: 260px;
}

#hijacks .acks > h2 {
    margin-top: 0;
}

#hijacks .ack-logos {
    padding-top: 20px;
}

#hijacks .ack-logo {
    max-width: 80%;
    max-height: 80px;
    margin-bottom: 40px;
}

#hijacks .stats-header {
    margin-top: 100px;
}
