
#hijacks.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

#hijacks .acks {
    width: 300px;
    border-left: #d0d0d0 1px solid;
    padding-left: 15px;
    min-height: 600px;
}

#hijacks > .content {
}
