.search-bar {
    display: flex;
    justify-content: space-between;
}

.search-bar__time {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.search-bar__time-btn {
}

.search-bar__time-input {
    width: 340px;
}
