{# TODO: react/symfony router for auth, symurl, etc. #}
<!DOCTYPE html>
<html>
    <head>
        <title>Hi³</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('build/explorer.css') }}">
    </head>
    <body>
        <div id="explorer-main"></div>
        <script src="{{ asset('build/explorer.js') }}"></script>
    </body>
</html>
